/* usamos display flex y que tenga saltos wrap */
section{
    display: flex;
    flex-wrap: wrap;
}
/* el tamaño que usa los articulos */
article {
    width: 33%;
}
h3{
    width: 100%;
}
h2{
    color: purple;
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
/* el tamaño que ocupa los articulos en tablets horizontal y escritorio vertical*/
    article {
        width: 49%;
    }
}
@media only screen and (max-width: 600px)  {
    article{
        width: 100%;
    }  
}